body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./img/5_background/ChatGPT Image 30. Sept. 2025, 16_27_55.png");
  background-size: cover;
  background-repeat: no-repeat;
}

canvas {
  background-color: black;
  border: 5px solid black;
}

h1 {
  font-family: 'Comic Sans MS';
}

p {
  color: white;
  font-size: 25px;
  margin: 0;
  font-family: 'Comic Sans MS';
}

.guideMainContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 140px;
}

.guideSingleContainers {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.guideExplanation {
  width: 60px;
  height: 55px;
}

.upperGuidContainer {
  background-color: #F48E16;
  padding: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playAgainBtn {
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  background-color: #F48E16;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.fullscreenBtn {
  position: absolute;
  bottom: 112px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 20;
}

.smallScreenBtn {
  position: absolute;
  bottom: 12px;
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 20;
  display: none;
}

.smallScreenBtnImg {
  width: 48px;
  height: 48px;
}

#fullscreen {
  position: relative;
  display: inline-block;
}

.hidden {
  display: none;
}